{% extends 'layout.html' %}

{% block content %}
    detail test
    <p>{{ photo.pk }}번 사진 보여줄게요!</p>
    <p>주소는 {{ photo.image.url }}</p>
    <p><img src="{{ photo.image.url }}"/></p>

{#    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">#}
{#        <input type="hidden" name="cmd" value="_s-xclick">#}
{#        <input type="hidden" name="hosted_button_id" value="G5HSFTQGDXRNA">#}
{#        <table>#}
{#            <tr>#}
{#                <td><input type="hidden" name="on0" value="Saletest">Saletest</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td><input type="text" name="os0" maxlength="200"></td>#}
{#            </tr>#}
{#        </table>#}
{#        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit"#}
{#               alt="PayPal - The safer, easier way to pay online!">#}
{#        <img alt="" border="0" src="https://www.paypalobjects.com/ko_KR/i/scr/pixel.gif" width="1" height="1">#}
{#    </form>#}
{##}
{##}
{##}
{#    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">#}
{#        <input type="hidden" name="cmd" value="_s-xclick">#}
{#        <input type="hidden" name="hosted_button_id" value="RTDT9E25Y4RU8">#}
{#        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit"#}
{#               alt="PayPal - The safer, easier way to pay online!">#}
{#        <img alt="" border="0" src="https://www.paypalobjects.com/ko_KR/i/scr/pixel.gif" width="1" height="1">#}
{#    </form>#}

    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="XLRDQKPJYU58L">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0"
               name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

    <a href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XLRDQKPJYU58L">buy</a>

{#    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">#}
{#<input type="hidden" name="cmd" value="_s-xclick">#}
{#<input type="hidden" name="hosted_button_id" value="XLRDQKPJYU58L">#}
{#<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">#}
{#<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">#}
{#</form>#}




{% endblock %}